{% extends "blogbase.html" %}
{% block content %}
    {% if users|length == 0 %}
        <p>No users yet.</p>
    {% else %}
        <ol>
        <form>
            {%for user in users %}
                <li><a href="/singleUser?id={{user.id}}">{{user.username}}</a></li>
                <ul>
                    {% for blog in blogs %}
                    {% if blog.owner_id == user.id %}
                        <li>{{blog.title}}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <hr />
            {%endfor%}
        </form>
        </ol>
        <br/>
        {% if active %}
            <a href="/newpost">New Blog Post</a>
        {% else %}
            <a href="/login">Login</a>
            <br/><br/>
            <a href="/register">Register</a>
        {% endif %}
    {% endif %}
{% endblock %}