{% extends "blogbase.html" %}
{% block content %}
    {% if users|length == 0 %}
        <p>No users yet.</p>
    {% else %}
        {% if active %}
            <h3>Blogz Member List:</h3>
        {% endif %}
        <ol>
        <form>
            {% if active %}
                {%for user in users %}
                    <li><a href="/singleUser?id={{user.id}}">{{user.username}}</a></li>
                    <hr />
                {%endfor%}
            {% else %}
                {%for user in users %}
                    <li><a href="/blog">{{user.username}}</a></li>
                    <hr />
                {%endfor%}
            {% endif %}
        </form>
        </ol>
        <br/>
        {% if active %}
            <a href="/newpost">New Blog Post</a>
            <br/><br/>
            <a href="/singleUser">View My Blogz</a>
            <br/><br/>
            <a href="/blog">View All Blogz</a>
        {% else %}
            <a href="/blog">View All Blogz</a>
            <br/><br/>
            <a href="/login">Login</a>
            <br/><br/>
            <a href="/register">Register</a>
        {% endif %}
    {% endif %}
{% endblock %}