{% extends "blogbase.html" %}
{% block content %}
    <style>
        textarea {
            margin: 10px 0;
            width: 540px;
            height: 120px;
        }
    </style>

    
        <form method='POST'>
            <label>Title:
                <input name="title" type="text" value = "{{title}}"/>
            </label><br/><br/>

            <label>
                <h3>Enter text here:</h3>
                <textarea name="body" type="text">{{body}}</textarea>
            </label><br/><br/>

            <input type="submit" value="Submit" />
        </form>

        <hr />
        <a href="/singleUser">View My Blogz</a>
        <br/><br/>
        <a href="/">View Blogz Members</a>
        <br/><br/>
        <a href="/blog">View All Blogz</a>

{% endblock %}