{% extends "blogbase.html" %}
{% block content %}
    {% if entries|length == 0 %}
        <p>No entries yet.</p>
    {% else %}
        {% if user %}
            <h3>{{user.username}}'s Blogz entries:</h3>
        {% endif %}
        <ul>
        <form>
            {%for entry in entries %}
                <li><a href="/singlepost?id={{entry.id}}">{{entry.title}}</a><br/>{{entry.body}}</li>
                <hr />
            {%endfor%}
        </form>
        </ul>
        <br/>
        <a href="/newpost">New Blog Post</a>
        <br/><br/>
        <a href="/blog">View Blogz Members</a>
    {% endif %}
{% endblock %}